<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button (click)="toggleMenu()"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img id="logo" src="../../assets/icon/logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="main">
        <ion-list>
          <ion-menu-toggle autoHide="false" *ngFor="let room of ( rooms | async )">
              <div *ngIf="room.name == username">
                <ion-item>
                  <a item-right (click)="goRoom(room.id)" class="btnroom">{{room.admin}}</a>
                  <ion-icon name="arrow-forward" slot="end"></ion-icon>
                  <br>
                </ion-item>
              </div>
              <div *ngIf="room.name != username">
                <ion-item>
                  <a item-right (click)="goRoom(room.id)" class="btnroom">{{room.name}}</a>
                  <ion-icon name="arrow-forward" slot="end"></ion-icon>
                  <br>
                </ion-item>
              </div>
          </ion-menu-toggle>
        </ion-list>
      </div>
</ion-content>
